<% @users.each do |user| %>
    <ul id="<%= user.id %>">
    <li><%= user.username %></li>
    <li><%= user.email %></li>
    <li><%= user.admin %></li>
      <%= render "form" %>
  </ul>
<% end %>


  


