<% @users.each do |user| %>
    <ul id="<%= user.id %>">
    <li><%= user.username %></li>
    <li><%= user.email %></li>
    <li><%= user.admin %></li>

    <% if user.admin == false %>
      <%= button_to "Promote", {:controller => :admins,
      :action => 'promote', :id => user.id }, :method => :post %>

        <% else %>
      <%= button_to "Demote", {:controller => :admins,
      :action => 'demote', :id => user.id }, :method => :post %>

    <% end %>

    <%= button_to "delete", {:controller => :admins,
      :action => 'destroy', :id => user.id }, :method => :delete %>


  </ul>
<% end %>





