<!DOCTYPE html>
<html>
<head>
  <title>Gifbomb</title>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%if logged_in?%>
    <script>logOut();</script>
    <script>appendAvatar(<%=session[:user_id]%>)</script>
    <script>viewFavorites(<%=session[:user_id]%>)</script>
    <script>adminButton();</script>
  <%else%>
  <script>newAndLogIn();</script>
  <%end%>
</body>
</html>